* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	color: white;
	font-size: 4em;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
button{
	font-size: 3em;
	width: 100px;
	margin-top: 10px;
	cursor: pointer;
}